body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #808080;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #e63900;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

body {
	background-color: #493120;
	background-image: url();
	color: #000000;
	font-size: 95%;
	font-family: Arial;
	line-height: 1.5;
	text-align: left;
}

h1 {
	font-size: 50px;
}

.body {
	margin: 0 auto;
	width: 70%;
	clear: both;
}

.mainheader img {
	width: 40%;
	height: auto;
	margin: 2% 0 2%;
}

.mainheader nav {
	background-color: #666;
	height: 40px;
	border-radius: 5px;
}

.mainheader nav ul {
	margin: 0 auto 0 auto;
}

.mainheader nav ul li {
	float: left;
	display: inline;
}

.mainheader nav a:link, .mainheader nav a:visited {
	color: #FFF;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
}

.mainheader nav a:hover, .mainheader nav a:active,
.mainheader nav .active a:link, .mainheader nav .active a:visited {
	background-color: #CF5C3F;
	text-shadow: none;
}

.mainheader nav ul li a {
	border-radius: 5px;
}

.maincontent {
	line-height: 25px;
	border-radius: 5px;
}

.content {
	width: 100%;
	float: left;
}

.topcontent {
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
	margin-right: 10%;
	margin-left:10%;
}

.middlecontent {
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}

.bottomcontent {
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}

.topsidebar {
	width: 21%;
	float: left;
	background-color: #FFFFFF;
	border-radius: 5px;
	margin: 1.45% 0 2% 3%;
	padding: 2% 3%;
}

.post-info {
	font-style: italic;
	color: #525252;
	font-size: 90%;
}

.middlesidebar {
	width: 21%;
	float: left;
	background-color: #FFFFFF;
	border-radius: 5px;
	margin: 2px 0 2% 3%;
	padding: 2% 3%;
}

.bottomsidebar {
	width: 21%;
	float: left;
	background-color: #FFFFFF;
	border-radius: 5px;
	margin: 2px 0 2% 3%;
	padding: 2% 3%;
}

.mainfooter {
	width: 100%;
	float: left;
	border-radius: 5px;
	background-color: #666;
	margin-top: 2%;
	margin-bottom: 2%;
}

.mainfooter p {
	width: 92%;
	margin: 2% auto;
	color: #FFF;
}

.photopage {
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
	width: 133%;
	height: 200%;
}

.photopage img {
	margin-left: 1%;
}

.fullpage {
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
	width: 132%;
}

$contact-us-section-padding: 2rem;
$contact-us-section-bg: $body-background;

.contact-us-section {
  padding: $contact-us-section-padding;
  background: $contact-us-section-bg;

  .contact-us-section-left {
    padding-right: $contact-us-section-padding;
    border-bottom: 2px solid $light-gray;
    padding-bottom: $contact-us-section-padding;
    margin-bottom: $contact-us-section-padding;

    @include breakpoint(medium) {
      border-right: 1px solid $light-gray;
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  .contact-us-section-right {
    padding-left: $contact-us-section-padding;

    @include breakpoint(medium) {
      border-left: 1px solid $light-gray;
    }
  }

  .contact-us-header {
    margin-bottom: $contact-us-section-padding;

    @media screen and #{breakpoint(medium)} and #{breakpoint(large down)} {
      font-size: 32px;
    }
  }

  .responsive-embed {
    margin-bottom: 0;
    padding-bottom: 55%;
  }
}

.contact-us-form {
  input[type=text],
  input[type=email],
  textarea {
    margin-bottom: 1.5rem;
  }
}

.contact-us-form-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  input[type=submit] {
    border-radius: 5000px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .contact-us-file-button {
    background: transparent;
    color: $dark-gray;
  }
}

.contact-us-list {
  list-style-type: none;
  margin: 0;

  li {
    a {
      color: $black;
    }
  }

  li::before {
    margin-right: 2rem;
    font-size: 2rem;
    vertical-align: middle;
    color: $dark-gray;
    font-family: 'FontAwesome';
  }

  // generates icons - change fontawesome content codes below to change icons
  .address::before {
    content: '\f041';
    margin-left: 0.4rem;
    margin-right: 2.3rem;
  }

  .email::before {
    content: '\f003';
  }

  .phone::before {
    content: '\f098';
  }
}

